/* Estilos globais */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.texto-branco {
    color: #fff;
}

/* Topo */
.topo {
    position: relative;
    padding: 35px 0;
}

.logo {
    position: relative;
}

.logo img {
    height: 80px;
}

.logo h1 {
    position: absolute;
    left: 90px;
    top: 0;
}

.logo p {
    position: absolute;
    left: 90px;
    bottom: 10px; 
}
.links {
    position: absolute;
    right: 0;
    bottom: 70px;
}

.links a {
    margin: 0 5px;
}

/* Banner */
.secao-banner {
    background-color: #2f86d6;
}

.container-banner {
    position: relative;
    padding: 100px 0px;
}

.container-banner div {
    width: 40%;
}

.container-banner img {
    position: absolute;
    top: 0;
    right: 80px;
    width: 50%;
}

/* Anuncios  */
.secao-anuncio {
    background-color: #233032;
}

.anuncio .subtitulo {
    position: absolute;
    top: 35%;
}
.anuncio {
    padding: 20px 0;
    height: 120px;
}

.anuncio div {
    position: absolute;
    top: 30%;
}
.secao-anuncio a {
    color: #fff;
    position: absolute;
    right: 0;
    top: 27% ;
    background-color: #2f86d6;
    border-radius: 5px;
    padding: 15px;
}

.secao-anuncio img {
    padding-right: 10px;
}

/* Seção informações */
.secao-informacoes {
    margin:  100px 0;
}

.secao-informacoes h2 {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    padding-bottom: 50px;
}

.secao-informacoes span {
    color: #2f86d6;
}

.secao-informacoes .bloco {
    text-align: center;
    width: 30%;
}

.secao-informacoes img {
    width: 45%;
}

.cards {
    position: relative;
}
.card3 {
    position: absolute;
    right: 0;
    top: 0;
}

.card2 {
    position: absolute;
    left: 35%;
    top: 0;
}

/* Seção planos */
